<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<% include ../partials/nav.ejs %>
		<div class="col-md-8 col-md-offset-2 error">
			<img src="/pizza-error.jpg" class="img-rounded" width="50%">
			<p class="error"> Looks like there's an error , don't worry you will soon be able to order your Pizza.</p>
		</div>
	</body>
</html>
