<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <img src="/pizza-error.jpg">
  Looks like there's an error , don't worry you will soon be able to order your Pizza .

</body>
</html>
